<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Laravel 8/7/6//5 App setup on Linux">
    <meta name="keywords" content="Laravel, Server, Setup,  Ubuntu, Linux, LAMP, Apache, Debian, CentOS, Nginx, project, installation">
    <meta name="author" content="Masiur Rahman Siddiki">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>VPS || Laravel Deployment On Server</title>
</head>
<body>
<!-- Setup by Masiur Rahman Siddiki -->
<!-- Setup by mrsiddiki AT gmail DOT com -->
<!--10:08 PM-->
<!--Wednesday, October 28, 2020 (GMT+6)-->
<!--Time in Khulia Para, Sylhet-->

<!-- major update 1 : 11:13 AM
Monday, November 2, 2020 (GMT+6) -->

<div class="container">
    <div id="app">
        <h2 align=center>Laravel Deployment/Setup On {{serverType}}</h2>
        <br>
        <div class="row">
            <div class="col-sm-4 col-md-4 form-inline">
                <div class="form-group">
                    <b>HTTP Server:</b> <input type="radio" id="apache" value="apache" v-model="server">
                    <label for="apache">Apache</label>
                    <input type="radio" id="nginx"  value="nginx" v-model="server">
                    <label for="nginx">Nginx</label>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 form-inline">
                <div class="form-group">
                    <label for="os">OS</label>
                    <select id="os" v-model="os" placeholder="Please select one" class="form-control">
                        <option disabled value="">Please select one</option>
                        <option value="ubuntu">Ubuntu</option>
                        <option disabled value="centos">CentOS(coming soon)</option>
                        <option disabled value="debian">Fedora(coming soon)</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 form-inline">
                <div class="form-group">
                    <label for="domain_name">Domain Name</label>
                    <input type="text" v-model.trim="domain_name" class="form-control" placeholder="example.com" class="form-control" id="domain_name">
                </div>
            </div>

            <div class="col-sm-6 col-md-6 form-inline">
                <div class="form-group">
                    <label for="git_url">Git URL</label>
                    <input placeholder="http://github.com/user/repository.git" class="form-control" type="text" v-model="git_url" id="git_url">
                </div>
            </div>
            
            <div v-if="server == 'apache'" class="col-sm-12 col-md-12">
			<br>
                    <span>You can just paste the following command in your bash. (**Warning: This is beta version)</span>
                    <pre>bash <(wget -qO- https://git.io/JTswy) ## Paste this into bash</pre>         
            </div>    

        </div>

        <br>
        <div class="row">

            <ol class="list-group">

                <div class="col-md-6">
                    <p> <strong v-if="server == 'apache'">Or,</strong><br> Execute the Steps serially</p>

                    <li><pre>sudo apt-get update</pre></li>
                    <li><pre>sudo mkdir -p /var/www/html/{{ domain_name }}</pre></li>
                    <li><pre>sudo chown -R $USER:$USER /var/www/html/{{domain_name}}</pre></li>
                    <li><pre>cd /var/www/html/{{domain_name}}</pre></li>
                    <li><pre>git clone {{git_url}} && cd {{git_repo}} && composer update</pre></li>

                    <li><pre>sudo mysql -u root -p</pre></li>
                    <li><pre>CREATE DATABASE IF NOT EXISTS {{git_repo}};quit;</pre></li>

                    <li><pre>sudo cp .env.example .env && nano .env</pre> </li>
                    <li> Make necessary changes - setup username, db, password
                        <pre>
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=</pre>
                    </li>
                    <li><pre>php artisan key:generate</pre></li>
                    <li><pre>php artisan migrate --seed</pre></li>
                    <li><pre>sudo chgrp -R www-data storage bootstrap/cache</pre></li>
<!--                    <li><pre>sudo chmod -R ug+rwx storage bootstrap/cache</pre></li>-->
                    <li>
                        <pre v-if="server == 'apache'">sudo nano /etc/apache2/sites-available/{{domain_name}}.conf</pre>
                        <pre v-if="server == 'nginx'">sudo nano /etc/nginx/sites-available/{{domain_name}}</pre>
                    </li>
                </div>

                <div class="col-md-6">

                    <li >Paste the following code.
                        <pre v-if="server === 'nginx'">
# /etc/nginx/sites-available/{{domain_name}}
server {
    listen 80;
    listen [::]:80;
    root /var/www/html/{{domain_name}}/{{git_repo}}/public;
    index index.php index.html index.htm index.nginx-debian.html;
    server_name {{domain_name}} www.{{domain_name}};
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    }
    location ~ /\.ht {
        deny all;
    }
}
            </pre>
                        <pre v-if="server === 'apache'">
                            {{ apacheHtml}}
            </pre>
                    </li>


                    <li>
                        <pre v-if="server == 'apache'">sudo a2ensite {{domain_name}} && sudo systemctl reload apache2</pre>
                        <pre v-if="server == 'nginx'">sudo ln -s /etc/nginx/sites-available/{{domain_name}} /etc/nginx/sites-enabled/ && sudo systemctl reload nginx</pre>

                    </li>
                    <li><pre>cd /var/www/html/{{domain_name}}/{{git_repo}}/</pre> </li>
                    <li><pre>sudo chmod -R 777 storage && sudo chmod -R 777 public && sudo chmod -R 777 bootstrap/cache</pre> </li>
                    <li><h4>Successfully Configured ! ~~ Visit <a v-bind:href="base_url" target="_blank">http://{{domain_name}}</a></h4></li>
                </div>
            </ol>
        </div>



    <footer>
        <div align="center">
            <div >
                <small class="copyright"> Masiur Rahman Siddiki &copy;2019 - {{ currentYear }} Sylhet, Bangladesh</small>
            </div>
        </div>
    </footer>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            domain_name : 'example.com',
            git_url: 'example.com.git',
            os: 'ubuntu',
            server: 'apache'

        },
        computed: {
            git_repo: function (git_url) {
                let rev =  this.git_url.split('/');
                rev =  rev.reverse()[0];
                return rev.split('.')[0];
            },
            url_p: function(domain_name) {
                return 'http://' + this.domain_name + '/phpmyadmin';
            },
            base_url: function (domain_name) {
                return 'http://'+this.domain_name;
            }
            ,
            apacheHtml: function () { // because keyword virtualhost create problem with vue
                return `
# /etc/apache2/sites-available/`+this.domain_name+`.conf

<VirtualHost *:80>

    ServerName `+this.domain_name+`
    DocumentRoot /var/www/html/`+this.domain_name+`/`+this.git_repo+`/public

    <Directory "/var/www/html/`+this.domain_name+`/`+this.git_repo+`/public">
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    LogLevel info ssl:warn
    ErrorLog /var/www/html/`+this.domain_name+`/logs/error.log
    CustomLog /var/www/html/`+this.domain_name+`/logs/access.log `+this.domain_name+`

</VirtualHost>`
            },
            currentYear: function () {
                let d = new Date();
                return d.getFullYear();
            },
            serverType: function () {
                if (this.server == 'apache') {
                    return 'LAMP';
                }
                if (this.server == 'nginx') {
                    return 'LEMP';
                }
                return '';
            }

        }
    })


</script>

</body>
</html>
